h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: red;

}
.parrafo principal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20 px;
    color: rgb(0, 30,255);
}

.imagenes{
    width:220 px;
    height: 220px;
    border-radius:50%;



}